h1 {
    text-align:center
}

ul.User li:not(:last-child) {
    border-bottom:1px solid #ccc
}

#map {
    height:420px;
    width:600px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}